<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\myGame\gameframe\moba_game_server\moba_server\build\bin\maba_gameserver.exe</StartProgram>
    <StartArguments>-file logic_server\main.lua</StartArguments>
    <StartWorkingDirectory>D:\myGame\gameframe\moba_game_server\moba_server\apps\lua\scripts</StartWorkingDirectory>
  </propertyGroup>
</Project>